*,*::after,*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{
    color: red;
}
body{
    width:100vw;
    height: 100vh;
    color:white;
    font-family: 'Lunch time', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    align-items:center;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
.hero_card,.hero_info{
    display: flex;
    flex-flow: column;
    padding:10px;
    background: rgba(35, 28, 28, 0.549);
    border-radius: 5px;

}

.container{
    display: flex;
    flex-flow:row;
    width:80%;
    justify-content: space-around;
    
}

.hero_info{
    max-width:800px ;
}
